### Astro ###
dist/
.astro/

### Deployment ###
.vercel/
.netlify/

### Dependencies ###
node_modules/

### Logs ###
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
bun-error.log*

### Environment ###
.env
.env.*
!.env.example

### Cache and coverage ###
.cache/
.parcel-cache/
.vite/
.turbo/
coverage/
*.tsbuildinfo
.eslintcache
.stylelintcache

### Editors and OS ###
.DS_Store
Thumbs.db
[._]*.un~
*.swp
*.swo
*.code-workspace
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/*.code-snippets

### Local custom ###
old_blog/
ignore.*
bunfig.toml
/src/content/blog/test.*
/test/
