---
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'

import { Button, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'

const headings: MarkdownHeading[] = []
---

<PageLayout title='项目' {headings} view>
  <p>这里整理一些我正在维护、学习或长期关注的项目与实践方向。</p>

  <div class='not-prose flex flex-wrap gap-3'>
    <Button title='GitHub' class='w-fit' href='https://github.com/Lan-Fa' target='_blank'>
      <Icon class='size-5' name='github' slot='before' />
    </Button>
    <Button title='关于我' class='w-fit' href='/about' variant='ahead' />
  </div>

  <p>GitHub 活动：</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Lan-Fa'
      alt='Lan-Fa GitHub activities'
      inferSize
      loading='lazy'
    />
  </p>
</PageLayout>
